{#
/**
 * @file
 * Default theme to render landing page teaser.
 *
 * Available variables:
 * - title: Landing page node title.
 * - image: Landing page media image.
 * - summary: Landing page teaser text.
 *
 * @see bundle_classes_demo_theme()
 *
 * @ingroup themeable
 */
#}
<div class="landing--page-teaser">
  <div class="title">
    {{ title }}
  </div>
  <div class="image">
    {{ image }}
  </div>
  <div class="summary">
    {{ summary }}
  </div>
</div>
